body {

}

.container-app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input::placeholder {
  padding-left: 20px;
}

.ContainerInput {
  text-align: center;
}